header div > h1 {
    margin-left:10%;
}

#top-info-list {
    margin-left  : 40%;
}

#top-info-list p {
    font-size:120%;
}

.desc-title {
    display: inline-block;
    width : 140px;
   font-weight:bold;
}

#profile {
    height:160px;
    margin-bottom:0px;
}

header .row .col.s4 {
    height: inherit;
    padding-right:10%;
    width:40%;
}

#profile-picture {
    padding:2px;
    width:25%;
    height:auto;
    margin-left:auto;
}

#profile-info-left {
    margin-left : auto;
}

header .material-icons {
    color: white;
}

.collapsible-header span {
    padding: 0 16px;
    font-weight: 500;
} 

.sidenav .collapsible-body  li a {
    padding: 0 23.5px 0 50px;
}

.nav-wrapper div:first-child  {
    margin-right:5%;
}

#slide-out li:first-child div:nth-child(2) {
    margin-top:3%;
}

.sticky-nav {
    top:0;
    position:fixed;
    z-index:1;
}