/************** Site wide **************/

* {
    font-family: 'ubuntu','roboto','sans-serif';
}

p,h1,span,td,th,a {
    opacity: 0.9;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

/************** Body **************/

    /******* General *******/

.fab, .fas, .material-icons {
    color:#62757f;
}    

.spaced-title {
    margin-top: 7rem;
}

    /*******  Projects *******/

#projects .btn {
    display: flex;
    background-color:#90a4ae;
    margin: 20px auto 0 auto;
    width:215px;
    font-size:80%; 
}

#projects .card-content .btn i {
    margin-left: 0;
    margin-right:15px;
}

    /******* Skills *******/

svg {
    width:100%;
    height: 50%;
}

.collection li {
    height : 102px;
}

.collection p {
    margin-bottom: 0;
}

.collection figure {
    margin-right:0;
    height:20px;
    padding-left:0;
    padding-right:0;
}

#skills  .collection li div:first-child {
    padding: 0;
}

.collapsible-body {
    background-color : white;
    padding:0;
}

#skills .collapsible-header i {
    display:flex;
    margin-left:auto;
}

.collection-item div:first-child {
    margin-right:30px;
}

    /******* Experience *******/

#experience > div.row > div {
    padding:0;
}

.tabs .tab a {
    color: #455a64;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color : rgba(69, 90, 100, 0.7);
    background-color:transparent;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color : rgba(69, 90, 100, 0.2);
}

.tabs .indicator {
    background-color : #455a64;
    color : #455a64;
}

#experience i.material-icons {
    margin:3%;
}

td {
    width:80%;
}

    /******* Cards *******/

.card-image {
    padding-top: 15px;
}

@media(min-width:992px) {
    #interests .card {
        height:100%;
    }

    #interests .card .card-content {
        padding:15px;
    }

    #interests .cards {
        display:flex; 
    }
}

@media(min-width: 600px) {
    #links {
        display: flex;
    } 
}

#profile-section .card {
    height: 100%;
}

/************** Footer**************/

footer span {
    font-size:90%;
}


































