* {
    font-family: 'ubuntu','roboto','sans-serif';
}

p,h1,span,td,th,a {
    opacity: 0.9;
}

.fab, .fas, .material-icons {
    color:#62757f;
}

#skills  .collection li div:first-child {
    padding: 0;
}

.card-image {
    padding-top: 5%;
}

.desc-title {
    display: inline-block;
    width : 140px;
   font-weight:bold;
}

#top-info-list p {
    font-size:120%;
}

.sticky-nav {
    top:0;
    position:fixed;
    z-index:1;
}

.spaced-title {
    margin-top: 7rem;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

svg {
    width:100%;
    height: 50%;
}

.collection li {
    height : 102px;
}

.collection p {
    margin-bottom: 0;
}

.collection figure {
    margin-right:0;
    height:20px;
    padding-left:0;
    padding-right:0;
}

#profile-section .card {
    height: 100%;
}

@media(min-width: 600px) {
    #links {
        display: flex;
    } 
}

@media(min-width:992px) {
    #interests .card {
        height:100%;
    }

    .card .card-content {
        padding:5px;
    }

    #interests-cards {
        display:flex; 
    }
}

.tabs .tab a {
    color: #455a64;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color : rgba(69, 90, 100, 0.7);
    background-color:transparent;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color : rgba(69, 90, 100, 0.2);
}

.tabs .indicator {
    background-color : #455a64;
    color : #455a64;
}

#projects .btn {
    background-color:#90a4ae;
    margin-top:3%;
}

#experience i.material-icons {
    margin:3%;
}

td {
    width:80%;
}

.collapsible-body {
    background-color : white;
    padding:0;
}

#skills .collapsible-header i {
    display:flex;
    margin-left:auto;
}

