* {
    font-family: 'ubuntu','roboto','sans-serif';
}

p,h1,span,td,th {
    opacity: 0.9;
}

header div > h1 {
    /* width:30%; */
    margin-left:10%;
}

#top-info-list {
    /* width:70%; */
    margin-left  : 40%;
}

/* #links > .col {
    height:100%;
}

#links > .col > .card {
    height: 100%;
} */

#profile {
    height:160px;
    margin-bottom:0px;
}

header > div:first-child > div {
    height: inherit;
}

#profile-picture {
    margin-top:1%;
    width:15%;
    height:auto;
}

header .material-icons {
    color: white;
}

/* #name {
    font-size:100%;
   padding-left: 12%;
} */

.fab, .fas, .material-icons {
    color:#62757f;
}

#language-select {
    margin-right : 3%;
}

#profile .card {
    font-size : 90%;
}

.card-image {
    padding-top: 5%;
}

.desc-title {
    display: inline-block;
    width : 150px;
    /* color:#c1d5e0; */
   font-weight:bold;
}

#top-info-list p {
    font-size:120%;
}

.sticky-nav {
    top:0;
    position:fixed;
    z-index:1;
}

.spaced-title {
    margin-top: 7rem;
}

nav div:first-child {
    margin-right:5%;
}

h1 {
    font-size: 35px;
}

/* figure {
    width:60%;
} */

svg {
    width:100%;
    height: 50%;
}


/* rect.percent {
    fill : #62757f;
} */


.chart[data-percent=60] {
    stroke-dashoffset:60%; 
}

.collection li {
    height : 102px;
}

.collection p {
    margin-bottom: 0;
}

.collection figure {
    /* margin-top : 3%; */
    margin-right:0;
    height:20px;
    padding-left:0;
    padding-right:0;
}

