h1 {
    font-size:150%;
}

header div > h1 {
    /* width:30%; */
    margin-left:10%;
}

#top-info-list {
    /* width:70%; */
    margin-left  : 40%;
}

/* #links > .col {
    height:100%;
}

#links > .col > .card {
    height: 100%;
} */

#profile {
    height:160px;
    margin-bottom:0px;
}

header > div:first-child > div {
    height: inherit;
}

#profile-picture {
    margin-top:1%;
    width:15%;
    height:auto;
}

/* #name {
    font-size:100%;
   padding-left: 12%;
} */

#language-select {
    margin-right : 3%;
}

#profile .card {
    font-size : 90%;
}

.card-image {
    padding-top: 5%;
}

.desc-title {
    display: inline-block;
    width : 150px;
}

.sticky-nav {
    top:0;
    position:fixed;
    z-index:1;
}

.spaced-title {
    margin-top: 7rem;
}

/* figure {
    width:60%;
} */

svg {
    width:100%;
    height: 50%;
}

.chart[data-percent=60] {
    stroke-dashoffset:60%; 
}

.collection li {
    height : 102px;
}

.collection p {
    margin-bottom: 0;
}

.collection figure {
    /* margin-top : 3%; */
    margin-right:0;
    height:20px;
    padding-left:0;
    padding-right:0;
}

/* .collection i {
    margin-left:50%;
} */