* {
    font-family: 'ubuntu','roboto','sans-serif';
}

p,h1,span,td,th {
    opacity: 0.9;
}

.fab, .fas, .material-icons {
    color:#62757f;
}

#language-select {
    margin-right : 3%;
}

.card-image {
    padding-top: 5%;
}

.desc-title {
    display: inline-block;
    width : 140px;
   font-weight:bold;
}

#top-info-list p {
    font-size:120%;
}

.sticky-nav {
    top:0;
    position:fixed;
    z-index:1;
}

.spaced-title {
    margin-top: 7rem;
}

nav div:first-child {
    margin-right:5%;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

svg {
    width:100%;
    height: 50%;
}

.collection li {
    height : 102px;
}

.collection p {
    margin-bottom: 0;
}

.collection figure {
    margin-right:0;
    height:20px;
    padding-left:0;
    padding-right:0;
}
